.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 30px 0;
  position: relative;
  /*  &:not(:last-child) {
      margin-bottom: 2rem;
    }*/
  &--reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
}
